# fyodor sample config file

# Set the translations you get on your clippings file
[parser]
highlight = "Your Highlight"
note = "Your Note"
bookmark = "Your Bookmark"
clip = "Clip This Article"
loc = "Location"
page = "page"
time = "Added on"

# Define books not to be saved (or remove this)
[[output.ignored]]
title = "Crime and Punishment"
author = "Fyodor Dostoyevsky"

[[output.ignored]]
title = "Just for Fun"
author = "Linus Torvalds"
