[parser]
highlight = "Your Highlight"
note = "Your Note"
bookmark = "Your Bookmark"
clip = "Clip This Article"

[[ignored_books]]
title = "Crime and Punishment"
author = "Fyodor Dostoyevsky"

[[ignored_books]]
title = "Just for Fun"
author = "Linus Torvalds"
