<%= "# #{@book.basename}" %>
<% if regular_entries.size > 0 %>
  <%= "## Highlights and notes" %>

  <%= render_entries(regular_entries) %>
<% end -%>
<% if bookmarks.size > 0 %>
  <%= "## Bookmarks" %>

  <%= render_entries(bookmarks) %>
<% end -%>
